<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace = "Catalogo">
    <select id = "getAllCatalogos" resultType = "pojos.Catalogo">
        SELECT
        catalogo.idCatalogo,
        catalogo.idTipo,
        catalogo.nombre,
        catalogo.orden
        FROM catalogo
    </select>
    <select id="getcatalogosByIdtipo" resultType="pojos.Catalogo"
            parameterType="int">
        SELECT
        catalogo.idCatalogo,
        catalogo.idTipo,
        catalogo.nombre,
        catalogo.orden
        FROM catalogo
        WHERE Catalogo.idTipo = #{id}
    </select>
    <insert id="registrarCatalogo" parameterType="pojos.Catalogo">
        INSERT INTO catalogo (idcatalogo, idtipo, nombre, orden)
        VALUES (#{idcatalogo}, #{idtipo}, #{nombre}, #{orden})
    </insert>
    <update id="actualizarCatalogo" parameterType="pojos.Catalogo">
        UPDATE catalogo SET nombre = #{nombre}, orden = #{orden}
        WHERE idcatalogo = #{idcatalogo}
    </update>
    <delete id="eliminarCatalogo" parameterType="int">
        DELETE FROM catalogo WHERE idcatalogo = #{idcatalogo}
    </delete>
</mapper>

